* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3f2fd;
}

.card{
    position: relative;
    height: 180px;
    width: 320px;
    background-image: url(images/bg.png);
    background-size: cover;
    border-radius: 18px;
}

.logo{
    margin:20px 0px 0px 20px ;
    height: 27px;
}

.title{
    position: absolute;
    margin: 20px 0px 0px 10px;
    font-size: 18px;
}

.chip{
    position: absolute;
    left: 250px;
    height: 30px;
    margin: 20px 25px 0px 0px;

}
.content{
    font-size: 0.5rem;
    position: absolute;
    top:80px ;
    margin: 0px 0px 30px 20px ;
}

.name{
    margin-top: 15px;
    font-size: 16px;
}

.cn{
    font-size: 12px;
}

.number {
    font-size: 16px;
    font-weight: 400;
}

.validity{
    font-size: 0.8rem;
    position: absolute;
    top: 120px;
    left: 240px;
}

