<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nav Bar</title>
    <link rel="stylesheet" href="ex6.css">
</head>

<body>
    <nav>
        <ul>
            <li class="logo"><img src="images/logo.webp" alt="logo"></li>
            <li>Products</li>
            <li>Pricing</li>
            <li>Resources</li>
            <li>About Us</li>
            <li><img src="images/lang.webp" alt="Lang" height="40vh"></li>
            <div class="line"></div>
        </ul>
    </nav>
    <div class="content">
        <span>Download <b>UltraEdit</b> for Windows</span>
        <p>Download and try UltraEdit before you buy it! This download includes full Windows version of the text editer</p>
        <div><b>DOWNLOAD MAC OR LINUX VERSION</b></div>
    </div>
    <div class="download">
        <section class="top">
            <img src="images/logo2.jpg" alt="logo" height="70vh">
            <div><h3>Download UltraEdit</h3>
                <p>v2023.1 | Hotflix</p>
            </div>
        </section>
        <section class="box">
            <h1>English</h1>
            <ul>
                <li>Downloat 64-bit</li>
                <li>Downloat 32-bit</li>
            </ul>
        </section>
        <section class="box">
            <h1>German</h1>
            <ul>
                <li>Downloat 64-bit</li>
                <li>Downloat 32-bit</li>
            </ul>
        </section>
        <section class="box">
            <h1>Italian</h1>
            <ul>
                <li>Downloat 64-bit</li>
                <li>Downloat 32-bit</li>
            </ul>
        </section>
        <section class="box">
            <h1>Spanish</h1>
            <ul>
                <li>Downloat 64-bit</li>
                <li>Downloat 32-bit</li>
            </ul>
        </section>
        <section class="box">
            <h1>French</h1>
            <ul>
                <li>Downloat 64-bit</li>
                <li>Downloat 32-bit</li>
            </ul>
        </section>
        <section class="box">
            <h1>Portuguese</h1>
            <ul>
                <li>Downloat 64-bit</li>
                <li>Downloat 32-bit</li>
            </ul>
        </section>
        <section class="box">
            <h1>Chinese</h1>
            <ul>
                <li>Downloat 64-bit</li>
                <li>Downloat 32-bit</li>
            </ul>
        </section>
        <section class="box">
            <h1>Japanese</h1>
            <ul>
                <li>Downloat 64-bit</li>
                <li>Downloat 32-bit</li>
            </ul>
        </section>
        <section class="box">
            <h1>Hindi</h1>
            <ul>
                <li>Downloat 64-bit</li>
                <li>Downloat 32-bit</li>
            </ul>
        </section>
    </div>
    <div class="down"><b>The Swiss army knife of text editors. Designed for performance and versatility.</b></div>
    <div>

    </div>
</body>

</html>